:host {
  display: block;
}

.or-less-1,
.or-less-2,
.or-less-3,
.or-less-4,
.or-less-5,
.out-or-less {
  width: 50px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.or-less-1 {
  background-color: #ffd700;
  color: #4E4E4E;
}
.or-less-2 {
  background-color: #C9CACA;
  color: #212121;
}
.or-less-3 {
  background-color: #d87b5f;
  color: #FFF;
}
.or-less-4 {
  background-color: #00c40e;
  color: #FFF;
}
.or-less-5 {
  background-color: #a9ceec;
  color: #FFF;
}
.out-or-less {
  border: 1px #4E4E4E solid;
}
