<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
             size="default"
             color="#fff"
             type="ball-spin-clockwise"
             [fullScreen]="true"></ngx-spinner>
<header>
    <mat-toolbar class="header">
        <span>MK8DX NITA DB</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="reload()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-toolbar>
</header>

<main class="main" *ngIf="isShow">
    <app-total-or-less class="total-or-less"></app-total-or-less>
    <span class="note">※「記録なし」〜「◯落ち」をクリックすると表示非表示を切り替えられます。</span>

    <div class="main-container">
        <div class="card-container" *ngFor="let nitaRecord of nitaRecords">
            <mat-card class="card">
                <img class="image" mat-card-image [src]="'assets/images/tracks/' + nitaRecord.imageId + '.webp'" loading="lazy" alt="mk8dx-track-image"/>
                <mat-card-header>
                    <mat-card-subtitle>{{nitaRecord | convertOrLess}}</mat-card-subtitle>
                    <mat-card-title>{{nitaRecord.track}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="content-table">
                    <div class="row">
                        <div class="name">WR:</div>
                        <div class="data">
                            <a [href]="nitaRecord.wr1stUrl"
                               target="_blank"
                               rel="noopener noreferrer">{{nitaRecord.wr1st}}<mat-icon fontIcon="open_in_new"></mat-icon>
                            </a>
                        </div>
                    </div>
                    <ng-container *ngIf="nitaRecord.myRecord;else noRecord">
                        <div class="row">
                            <div class="name">自分の記録</div>
                            <div class="data">
                                <ng-container *ngIf="nitaRecord.url;else noUrl">
                                    <a [href]="nitaRecord.url"
                                       target="_blank"
                                       rel="noopener noreferrer">
                                        {{nitaRecord.myRecord}}<img class="image" src="/assets/images/youtube.png">
                                    </a>
                                </ng-container>
                                <ng-template #noUrl>
                                    {{nitaRecord.myRecord}}
                                </ng-template>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noRecord>
                        <div class="no-data">記録がありません</div>
                    </ng-template>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="openDetail(nitaRecord)">詳細</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</main>
