@import "src/assets/styles/responsive";

:host {
  display: block;
}
.header {
  color: #FFF;
  background-color: #4E4E4E;
  .spacer {
    flex: 1 1 auto;
  }
}

.main {
  padding: 0 10%;
  @include sp {
    padding: 0 5%;
  }

  .note {
    display: inline-block;
    margin-top: 4px;
    color: #4E4E4E;
    font-size: 12px;
  }
}

.no-data {
  color: rgba(127, 127, 127, 0.5);
}

.total-or-less {
  margin-top: 20px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  padding-bottom: 20px;

  .card-container {
    width: 25%;
    box-sizing: border-box;
    padding-right: 12px;
    // 右端のアイテムはpadding-rightをつけない
    &:nth-child(4n) {
      padding-right: 0;
    }
    // PC表示の場合は5番目以降の要素のみmargin-topを当てたい
    &:nth-child(n+5) {
      margin-top: 20px;
      // スマホ表示の場合は不要
      @include sp {
        margin-top: 10px;
      }
    }

    @include sp {
      width: 100%;
      padding: 0;
      margin-top: 10px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  .card {
    color: #4E4E4E;
    min-height: 172px;

    .title {
      min-height: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;

      .or-less {
        font-size: 14px;
      }
    }

    .content-table {
      font-size: 14px;

      .row {
        display: flex;
        align-items: center;

        .name {
          width: 80px;
        }

        .data {
          a {
            display: flex;
            align-items: center;
            color: #4E4E4E;
            &:hover {
              cursor: pointer;
            }
            mat-icon {
              transform: scale(0.6);
              vertical-align: middle;
            }
          }
          .image {
            width: 24px;
          }
        }
      }
    }
  }
}