<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
             size="default"
             color="#fff"
             type="ball-spin-clockwise"
             [fullScreen]="true"></ngx-spinner>

<header>
    <mat-toolbar class="header">MK8DX NITA DB</mat-toolbar>
</header>

<main class="main">
    <ng-container *ngIf="nitaRecords.length">
        <div class="main-container">
            <div class="card-container" *ngFor="let nitaRecord of nitaRecords">
                <mat-card class="card">
                    <mat-card-title class="title">{{nitaRecord.track}}</mat-card-title>
                    <mat-card-content class="content">
                        <ng-container *ngIf="nitaRecord.myRecord;else noRecord">
                            <div *ngIf="nitaRecord.orLess && nitaRecord.orLess <= 5" class="or-less-{{nitaRecord.orLess}}">{{nitaRecord.orLess}}落ち</div>
                            <div *ngIf="nitaRecord.orLess && nitaRecord.orLess > 5" class="out-or-less">圏外</div>
                            <div><span class="sub-title">WR:</span>{{nitaRecord.wr1st}}</div>
                            <div><span class="sub-title">自分の記録:</span>{{nitaRecord.myRecord}}</div>
                            <div><span class="sub-title">1Rap:</span>{{nitaRecord.firstRap}}</div>
                            <div><span class="sub-title">2Rap:</span>{{nitaRecord.secondRap}}</div>
                            <div><span class="sub-title">3Rap:</span>{{nitaRecord.thirdRap}}</div>
                        </ng-container>
                        <ng-template #noRecord>
                            <span class="no-data">記録がありません</span>
                        </ng-template>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>
</main>
