@import "responsive";

:host {
  display: block;
}
.header {
  color: #FFF;
  background-color: #4E4E4E;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 350px;
  background-color: #fff;
  border-radius: 8px;
  margin: 80px auto 0;

  @include sp {
    height: 200px;
    width: 300px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4E4E4E;

    .not-found-code {
      font-size: 48px;
    }
    .description {
      margin-top: 24px;
    }
  }
}