<div class="or-less-container">
    <div class="or-less-group">
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-1'"
                      [checked]="orLessFilter.orLess1"
                      [key]="'orLess1'"
                      (change)="onFilterChange($event)">1落ち</app-chip>:&nbsp;{{totalOrLess.orLess1}}
        </div>
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-2'"
                      [checked]="orLessFilter.orLess2"
                      [key]="'orLess2'"
                      (change)="onFilterChange($event)">2落ち</app-chip>:&nbsp;{{totalOrLess.orLess2}}
        </div>
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-3'"
                      [checked]="orLessFilter.orLess3"
                      [key]="'orLess3'"
                      (change)="onFilterChange($event)">3落ち</app-chip>:&nbsp;{{totalOrLess.orLess3}}
        </div>
    </div>
    <div class="or-less-group">
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-4'"
                      [checked]="orLessFilter.orLess4"
                      [key]="'orLess4'"
                      (change)="onFilterChange($event)">4落ち</app-chip>:&nbsp;{{totalOrLess.orLess4}}
        </div>
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-5'"
                      [checked]="orLessFilter.orLess5"
                      [key]="'orLess5'"
                      (change)="onFilterChange($event)">5落ち</app-chip>:&nbsp;{{totalOrLess.orLess5}}
        </div>
        <div class="or-less-section">
            <app-chip [colorClass]="'out-or-less'"
                      [checked]="orLessFilter.outOrLess"
                      [key]="'outOrLess'"
                      (change)="onFilterChange($event)">圏外</app-chip>:&nbsp;{{totalOrLess.orLessOutside}}
        </div>
    </div>
    <div class="or-less-group">
        <div class="or-less-section">
            <app-chip [colorClass]="'no-record'"
                      [checked]="orLessFilter.noRecord"
                      [key]="'noRecord'"
                      (change)="onFilterChange($event)">記録なし</app-chip>:&nbsp;{{totalOrLess.noRecord}}
        </div>
    </div>
</div>