<div class="or-less-container">
    <div class="or-less-group">
        <div class="or-less-section">
            <app-chip [colorClass]="'out-or-less'">圏外</app-chip>:&nbsp;{{totalOrLessOutside}}
        </div>
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-5'">5落ち</app-chip>:&nbsp;{{totalOrLess5}}
        </div>
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-4'">4落ち</app-chip>:&nbsp;{{totalOrLess4}}
        </div>
    </div>
    <div class="or-less-group">
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-3'">3落ち</app-chip>:&nbsp;{{totalOrLess3}}
        </div>
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-2'">2落ち</app-chip>:&nbsp;{{totalOrLess2}}
        </div>
        <div class="or-less-section">
            <app-chip [colorClass]="'or-less-1'">1落ち</app-chip>:&nbsp;{{totalOrLess1}}
        </div>
    </div>
</div>