@import "responsive";

:host {
  display: block;
}

.or-less-container {
  display: flex;
  align-items: center;

  @include sp() {
    display: block;
  }
  .or-less-group {
    display: flex;
    align-items: center;

    &:not(:first-of-type) {
      margin-left: 6px;
    }

    @include sp {
      margin-top: 4px;
      &:not(:first-of-type) {
        margin-left: 0;
      }
    }

    .or-less-section {
      display: flex;
      align-items: center;
      width: 90px;

      &:not(:first-of-type) {
        margin-left: 6px;
      }
    }
  }
}