/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #EAEAEA;
}

// Cardのtitle
.mat-mdc-card-title {
  font-size: 16px !important;
}

.mat-form-field-infix {
  border-top: 0.5em solid transparent;
}

// chipがcontainerに設定されているpaddingからはみ出るため。
.mdc-evolution-chip-set .mdc-evolution-chip-set__chips {
  margin-left: 0 !important;
}